<div style='background-color:white;color:black;'>

    <h1>Editar Usuarios</h1>
    <p>¡Edite sus usuarios!</p>
    <div class="row">
        <div class="col-sm-8">
            <form action="Usuario/editarUsuario" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input minlength=5 required type="text" class="form-control" placeholder="Nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Preferencia</label>
                    <input minlength=5 required type="text" class="form-control" placeholder="Preferencia" name="preferencia">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Fecha de nacimiento" name="fechaNacimiento">
                </div>
                <input type="hidden" name="id" value="<%=usuarios.id%>">
                <button type="submit" class="btn btn-success">Editar Usuario</button>
                <br>

            </form>
        </div>
        <div class="col-sm-4">

            <h3 class="text-center"> <%=usuarios.nombre%></h3>
            <h4 class="text-center"> <%=usuarios.preferencia%></h4>
            <p class="text-center">
                <%= usuarios.fechaNacimiento %>
            </p>
        </div>
    </div>
</div>