<div style='background-color:white;color:black;'>

  <h1>Editar Usuarios</h1>
  <p>¡Edite sus usuarios!</p>

  <form action="Usuario/editarUsuario" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="Nombre" name="nombre">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Preferencia</label>
      <input minlength=5 required type="text" class="form-control"  placeholder="Preferencia" name="preferencia">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Fecha de Nacimiento</label>
      <input type="date" class="form-control"  placeholder="Fecha de nacimiento" name="fechaNacimiento">
    </div>
    <button type="submit" class="btn btn-success">Editar Usuario</button>
    <br>

  </form>
</div>
